<!-- About environment info-->

<div class="container">

  <div class="input-group input-group-lg">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-lg">Environment</span>
    </div>
    <input class="form-control col-md-4"  [(ngModel)]="environment" value="{{environment}}" disabled />
  </div>

  <div class="input-group input-group-lg">
    <div class="input-group-prepend">
      <span class="input-group-text" >IDE:</span>
    </div>
    <input class="form-control col-md-4 " [(ngModel)]="ide" value="{{ide}}" disabled/>
  </div>

</div>
