<!--
  Flight information
-->

<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="form-group">
    <label>Origin Airport: </label>
    <select class = "form-control" name="origin" [(ngModel)]="model.originAirport">
      <option value="">Select an Origin</option>
      <option *ngFor="let airport of Airport.sort()" [value]="airport">
        {{airport}}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label>Destination Airport: </label>
    <select class = "form-control" name="destination" [(ngModel)]="model.destinationAirport">
      <option value="">Select an Destination</option>
      <option *ngFor="let airport of Airport.sort()" [value]="airport">
        {{airport}}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label>Travel Date: </label>
    <input type="date" class="form-control" name="date" [(ngModel)]="model.flightDate">
  </div>

  <div class="form-group">
    <label>Passengers: </label>
    <input type="number" class="form-control" min="1" max="999" name="passengers" [(ngModel)]="model.passengers">
  </div>

  <div class="form-group">
    <button class="btn btn-primary btn-block">Submit</button>
  </div>

</form>
