/* You can add global styles to this file, and also import other style files */
.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  background-color: transparent;
}

/*
body {
  background-image: url("../src/images/background_img.jpg");
  background-position: center;
  background-size: auto 100% 100%;
  position: relative;
  background-repeat: no-repeat;
  color: white;
  padding-top: 250px;
}
*/

body {
  background-color: lightblue;
}
